::before,
::after {
  --my-border-spacing-x: 0;
  --my-border-spacing-y: 0;
  --my-bg-opacity: 1;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {

    --color-background: rgb(30 41 59);
    --color-text: #DDD;
    --color-textarea: black;
    --color-textarea-background: lightgray;
    --color-badge-text: white;

    --color-btn-background: rgb(40, 119, 192);
    --color-btn-off-background: #7d7c7c;
    --color-btn-text: rgb(22, 22, 22);
    --color-btn-hover: rgb(14 165 233);
    --color-drawer-bg: rgb(51, 65, 85);

    --color-tile-bg: gray;
    --color-tile-active: rgb(177, 240, 177);
    --color-tile-hover: rgb(120, 235, 120);
    --color-tile-border: white;
    --color-tile: #222;

    --color-border: lightgray;
    --svg-fill: white;
    --svg-bg: black;
    --color-link: #646cff;
    --color-link-hover: #535bf2;

    --color-glyph: white;
    --color-glyph-bg: darkred;
    --color-icon: rgb(168, 166, 166);

    --color-input-text: rgb(236, 232, 232);
    --color-input-placeholder: rgb(156 163 175);
    --color-input-bg: rgb(62, 62, 63);
    --color-input-box-bg: rgb(55 65 81);
    --color-input-focus: rgb(59 130 246);
    --color-input-outline: rgb(59 130 246);
    --color-input-border: rgb(75 85 99);
    --color-input-border-err: rgb(173, 74, 74);
    --color-complete-bg: rgb(16 45 1 / 1);
    --color-resched-bg: rgb(51 12 0 / 1);
    --color-done-background: gray;
    --color-red-background: darkred;
    --color-magenta-background: darkmagenta;
    --color-green-background: darkgreen;
    --color-dark-background: black;
    --color-blue-background: blue;
    --color-home-background: rgb(177, 98, 8);

  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: white;
    --color-text: #222;
    --color-textarea: white;
    --color-textarea-background: #222;
    --color-badge-text: black;
    --color-btn-hover: rgb(40, 119, 192);
    --color-btn-text: white;
    --color-btn-background: rgb(14 165 233);
    --color-drawer-bg: rgb(202, 200, 200);

    --color-tile-bg: #ddd;
    --color-tile-active: rgb(177, 240, 177);
    --color-tile-hover: rgb(120, 235, 120);
    --color-tile-border: black;
    --color-tile: #222;

    --color-border: lightgray;
    --svg-fill: black;
    --svg-bg: white;
    --color-link: #646cff;
    --color-link-hover: #535bf2;

    --color-glyph: white;
    --color-glyph-bg: darkred;
    --color-icon: rgb(63, 62, 62);

    --color-input-text: black;
    --color-input-placeholder: rgb(156 163 175);
    --color-input-bg: rgb(249 250 251);
    --color-input-box-bg: rgb(249 250 251);
    --color-input-focus: rgb(59 130 246);
    --color-input-outline: rgb(59 130 246);
    --color-input-border: rgb(209 213 219);
    --color-input-border-err: rgb(173, 74, 74);
    --color-complete-bg: rgb(206, 247, 186);
    --color-resched-bg: rgb(253, 198, 181);
    --color-done-background: rgb(216, 214, 214);
    --color-red-background: pink;
    --color-magenta-background: thistle;
    --color-green-background: lightgreen;
    --color-blue-background: lightblue;
    --color-dark-background: lightgray;
    --color-home-background: rgb(187, 147, 101);

  }
}

a {
  font-weight: 500;
  color: var(--svg-fill);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  padding: 0 10px 0 10px;
  /* max-width: 500px; */
  /* display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-y: hidden;
}

textarea {
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
  height: 4em;
  width: 22em;
  margin-top: 6px;
  font-size: 1.2em;
}

input {
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
  border-color: var(--color-input-border);
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 6px;

}

select {
  font-size: 0.9em;
  height: 2em;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-border);
}

h1 {
  font-size: 1.7em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
}

h3 {
  font-size: 1.17em;
  line-height: 1.1;
}

p {
  margin: 0;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
}

button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btn-background);
  cursor: pointer;
  transition: border-color 0.25s;
  line-height: 1em;
}

button:hover,
.button:hover {
  border-color: #646cff;
  background-color: var(--color-btn-hover);
}

button:disabled,
.button:disabled {
  border-color: #646cff;
  background-color: var(--color-btn-off-background);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: space-around;
}