.card {
    padding: 0 10px;
    /* box-shadow: 0 0 5px #ffdfdf;
    border-radius: 5px;
    border-style: solid;
    border-width: thin; */
    overflow: hidden;

}

.card .top {
    text-align: center;
}

.card p {
    font-weight: bold;
    color: #0086fe;

}

.card button {

}

.card .drag-area {
    /* height: 150px; */
    border-radius: 5px;
    border: 2px dashed #0086fe;
    color: #0086fe;
    background: #f4f3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 10px;
}

.card .drag-area .visible {
    font-size: 18px;
}

/* .card .select {
    color: #5256ad;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.card .select {
    opacity: 0.6;

} */

.card .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 180px;
    overflow-y: auto;
    margin-top: 10px;
    border-style: dotted;
    border-width: thin;
    border-radius: 5px;
}

.card .container .image {
    width: 85px;
    margin-right: 5px;
    /* height: 85px; */
    position: relative;
    margin-bottom: 8px;
}

.card .container .image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card .container .image span {
    position: absolute;
    top: -2px;
    font-size: 20px;
    cursor: pointer;

}

.card .container .btns {
    display: flex;
}

.card .container .btn {
    padding: 0.6em 1em;
    margin-top: 3px;
}

.card input,
.card .drag-area .on-drop,
.card .drag-area.dragover .visible {
    display: none;
}

.delete {
    z-index: 999;
    right: 9px;
    color: #0086fe;
}

.choose {
    z-index: 999;
    left: 9px;
    color: #0086fe;
}